<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/layout :: layout(~{::title}, ~{::body}, ~{::style})}">
<head><meta charset="UTF-8">
<title>주문 전 상품 목록 보기</title></head>
<body><h2>배송지 정보</h2>
<table class="w3-table">
<tr><td width="30%">주문아이디</td>
    <td width="70%" th:text="${session.loginUser.userid}"></td></tr>
<tr><td width="30%">이름</td>
    <td width="70%" th:text="${session.loginUser.username}"></td></tr>
<tr><td width="30%">이메일</td>
    <td width="70%" th:text="${email}"></td></tr>
<tr><td width="30%">우편번호</td>
    <td width="70%" th:text="${session.loginUser.postcode}"></td></tr>
<tr><td width="30%">주소</td>
    <td width="70%" th:text="${session.loginUser.address}"></td></tr>
<tr><td width="30%">전화번호</td>
    <td width="70%" th:text="${session.loginUser.phoneno}"></td></tr>
</table>
<h2>구매 상품 </h2>
<table class="w3-table">
 <tr><th>상품명</th><th>가격</th><th>수량</th><th>합계</th></tr>
   <tr th:each="itemSet,stat : ${session.CART.itemSetList}">
     <td th:text="${itemSet.item.name}"></td>
     <td th:text="${itemSet.item.price}"></td>
     <td th:text="${itemSet.quantity}"></td>
     <td th:text="${itemSet.item.price *itemSet.quantity}"></td></tr>
  <tr><td colspan="4" align="right">
          총 구입 금액 : <span th:text="${session.CART.total}"></span>원</td></tr>
  <tr><td colspan="4">
<!--     <a href="javascript:kakaopay()">결제하기</a>&nbsp;  -->
     <a href="end">결제하기</a>&nbsp;
     <a href="../item/list">상품 목록</a>&nbsp;
  </td></tr></table>
<script type="text/javascript" 
    src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
<script type="text/javascript">
   let IMP = window.IMP
   IMP.init("imp64423678") //가맹점 식별코드   
   function kakaopay() {
	   $.ajax("kakao",{
		   success : function(json) {
			   iamPay(json)
		   }
	   })
   }
   function iamPay(json) {
	   IMP.request_pay({ //IMP 요청 데이터
		   pg : "kakaopay",     //상점구분. 카카오페이
		   pay_method : "card", //카드 결제
		   merchant_uid : json.merchant_uid,  //주문번호:주문별로 유일한값이 필요. userid-session id 값
		   name : json.name,    //주문상품명.     
		   amount : json.amount,//전체주문금액
		   buyer_email : "goodeegdj90@gmail.com",  //주문자이메일. 테스트. 
		   buyer_name : json.buyer_name,    //주문자성명
		   buyer_tel : json.buyer_tel,      //주문자전화번호
		   buyer_addr : json.buyer_addr,    //주문자 주소
		   buyer_postcode : json.buyer_postcode  //주문자 우편번호
	   },function(rsp){ //응답 데이터
		   if (rsp.success) { //결제 성공
			   let msg = "결제가 완료 되었습니다."
			   msg += "\n:고유ID : " + rsp.imp_uid
			   msg += "\n:상점ID : " + rsp.merchant_uid
			   msg += "\n:결제금액 : " + rsp.paid_amount
			   alert(msg)
			   location.href="end"
		   } else {
			   alert("결제에 실패 했습니다.:" + rsp.error_msg)
		   }
	   })
   }
</script>  
  
  </body></html>