<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품등록</title>
</head>
<body>
	<form th:object="${item}" th:action="@{/item/create}" method="post"
		enctype="multipart/form-data">
		<h2>상품등록</h2>
		<table>
			<tr>
				<td>상품명</td>
				<td><input th:field="*{name}" /></td>
				<td><font color="red"><div th:errors="*{name}"></div></font></td>
			</tr>
			<tr>
				<td>상품가격</td>
				<td><input th:field="*{price}" /></td>
				<td><font color="red"><div th:errors="*{price}"></div></font></td>
			</tr>
			<tr>
				<td>상품이미지</td>
				<td colspan="2"><input type="file" name="picture"></td>
			</tr>
			<tr>
				<td>상품설명</td>
				<td><textarea th:field="*{description}" cols="20" rows="5"></textarea></td>
				<td><font color="red"><div th:errors="*{description}"></div></font></td>
			</tr>
			<tr>
				<td colspan="3"><input type="submit" value="상품등록"> <input
					type="button" value="상품목록"
					th:onclick="|location.href='@{/item/list}'|"></td>
			</tr>
		</table>
	</form>
</body>
</html>
