<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/layout :: layout(~{::title}, ~{::body}, ~{::style})}">
<head>
<meta charset="UTF-8">
<title>사용자정보 수정</title>
</head>
<body>
<h2>사용자 수정</h2>
<form  method="post" action="update" th:object="${userDto}">
<div th:if="${#fields.hasGlobalErrors()}">
    <div th:each="err : ${#fields.globalErrors()}"
        th:text="${err}" class="w3-text-red">Global Error</div>
</div>  
 <table>
   <tr><td width="10%">아이디</td>
       <td><input type="text" name="userid" th:field="*{userid}" placeholder="아이디를 입력하세요"/>
    <span th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}"  class="w3-text-red">id error</span></td></tr>
   <tr><td>비밀번호</td>
       <td><input type="password" name="password" th:field="*{password}" placeholder="비밀번호를 입력하세요"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"  class="w3-text-red">password error</span></td></tr>
   <tr><td>이름</td>
       <td><input type="text" name="username" th:field="*{username}" placeholder="회원명을 입력하세요"/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"  class="w3-text-red">name error</span></td></tr>
   <tr><td>전화번호</td><td><input type="text" name="phoneno" th:field="*{phoneno}" placeholder="전화번호를 입력하세요"/></td></tr>
   <tr><td>우편번호</td><td><input type="text" name="postcode" th:field="*{postcode}" placeholder="우편번호를 입력하세요"/></td></tr>
   <tr><td>이메일</td>
   <td><input type="text" name="email" placeholder="이메일를 입력하세요" th:field="*{email}"/>
   <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  class="w3-text-red">email error</span></td></tr>
   <tr><td>생년월일</td>
   <td><input type="text" name="birthday" th:field="*{birthday}" placeholder="yyyy-MM-dd"/>
   <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"  class="w3-text-red">birthday error</span></td></tr>
   <tr><td  colspan="2" align="center">
           <input type="submit" value="회원수정">
           <input type="reset" value="초기화">
   </td></tr></table></form>
</body></html>